[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agno = "*"
google-api-python-client = "*"
groq = "*"
pydantic = "*"
huggingface-hub = "*"
streamlit = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.16"
